/* Color Definitions */
:root {
    --salmon: #874f09;
    --sea-green: #09874a;
    --light-steel-blue: #093787;
    --slate-gray: #778899;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #444; /* Dark background color */
    color: #eee; /* Text color for good contrast */
}

/* Set a specific width for input fields */
input[type="number"] {
    width: 100px; /* You can adjust the width as needed */
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
    /* To ensure the box-sizing includes padding and border in the width */
    box-sizing: border-box;
}

/* Adjust the select width to match the input fields if necessary */
select {
    width: calc(120px + 50px); /* Adjust the width calculation if needed */
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
    /* To ensure the box-sizing includes padding and border in the width */
    box-sizing: border-box;
}

/* Add margin to buttons */
button {
    padding: 10px 20px; /* Increase padding */
    margin: 15px; /* Add margin around buttons */
    font-size: 1rem; /* Increase font size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555; /* Darken button on hover for visual feedback */
}

#jsonTextField {
    width: 100%; /* or any specific width, such as 400px */
    height: 150px; /* adjust the height as needed */
    padding: 8px; /* add some internal padding */
    box-sizing: border-box; /* include padding and border in the element's total width and height*/
	font-size: 16px; /* or any size you prefer */
    color: black; /* this sets the text color to black */
}

.completion-time {
    display: block; /* or inline-block, depending on your layout */
    margin-top: 5px; /* Add some space above the completion time */
    font-size: 0.8em; /* You can adjust the size as you see fit */
    color: #ddd; /* Just an example, adjust the color as needed */
}

h1 {
    text-align: center;
}

#timersList {
    margin-top: 20px;
}

/* Timer Styles */
.timer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #444; /* Darker timer background */
}

.details-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;
    flex: 0 0 180px; /* Adjust the width as needed */
    text-align: right; /* Align the text to the right */
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.time-string {
    flex: 1 0 120px;
    margin-right: 10px;
    white-space: nowrap;
}

.progress-container {
    display: flex;
    align-items: center;
    flex-grow: 2;
    flex-basis: 0;
    background-color: #555; /* Darker progress bar background */
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    position: relative; /* Added for positioning color key */
	flex: 1; /* Take the remaining space */
    margin-left: 10px; /* Add some space between text and progress bar */
}

.progress-bar {
    height: 30px;
    border-radius: 4px;
    width: 0%;
    transition: width 0.5s ease;
}

/* Completed Timers Styles */
#completedTimers {
    margin-top: 20px;
}

/* Improve visibility of the dismiss button */
.dismiss-btn {
    background-color: #fff; /* Make the button white or any color that stands out */
    color: #000; /* Text color for the button, use a contrasting color */
    border: none; /* Remove border if not needed */
    padding: 5px 10px; /* Adjust padding to ensure the button is not too large or too small */
    border-radius: 4px; /* Optional: if you want rounded corners on the button */
    opacity: 0.7; /* Optional: make the button slightly transparent */
    transition: opacity 0.3s; /* Smooth transition for the opacity */
}

.dismiss-btn:hover {
    opacity: 1; /* Full opacity on hover */
}

/* Align the icon with the text */
.icon {
    display: inline-block; /* Make sure the icon is inline with text */
    vertical-align: middle; /* Align it vertically in the middle */
    margin-right: 10px; /* Adjust spacing between the icon and the text */
}

/* Style for the completed timers */
.completed-info {
    align-items: center; /* This ensures vertical alignment for flex items */
    background-color: var(--salmon); /* Adjust the background color to match the design */
    color: #eee; /* Ensure the text color contrasts well with the background */
    padding: 10px; /* Add padding inside the completed info box */
    border-radius: 4px; /* Match the border-radius with other elements if necessary */
}


/* Color Options for Progress Bars */
.timer[data-color="0814"] .progress-bar {
    background-color: var(--salmon);
}

.timer[data-color="0816"] .progress-bar {
    background-color: var(--light-steel-blue);
}

.timer[data-color="0817"] .progress-bar {
    background-color: var(--sea-green);
}

.timer[data-color="0818"] .progress-bar {
    background-color: var(--slate-gray);
}

.timer[data-color="account0"] .progress-bar { background-color: #e6194B; }
.timer[data-color="account1"] .progress-bar { background-color: #3cb44b; }
.timer[data-color="account2"] .progress-bar { background-color: #ffe119; }
.timer[data-color="account3"] .progress-bar { background-color: #4363d8; }
.timer[data-color="account4"] .progress-bar { background-color: #f58231; }
.timer[data-color="account5"] .progress-bar { background-color: #911eb4; }
.timer[data-color="account6"] .progress-bar { background-color: #46f0f0; }
.timer[data-color="account7"] .progress-bar { background-color: #f032e6; }
.timer[data-color="account8"] .progress-bar { background-color: #bcf60c; }
.timer[data-color="account9"] .progress-bar { background-color: #fabebe; }


/* Style for completed timers with background color */
.completed-timer[data-color] {
    background-color: #666; /* Darker completed timer background */
}

.completed-timer[data-color="0814"] {
    background-color: var(--salmon);
}

.completed-timer[data-color="0816"] {
    background-color: var(--light-steel-blue);
}

.completed-timer[data-color="0817"] {
    background-color: var(--sea-green);
}

.completed-timer[data-color="0818"] {
    background-color: var(--slate-gray);
}

/* Text Colors for Good Visibility */
.timer,
.completed-info {
    color: #eee; /* Set text color to white for good visibility */
}

.dismiss-btn {
    color: #eee; /* Set button color to white for good visibility */
}

.color-key {
    position: absolute;
    top: 50%;
    left: 5px; /* Adjust as needed */
    transform: translateY(-50%);
    font-size: 12px; /* Adjust as needed */
    color: #eee; /* Adjust the color */
}

.remove-timer-btn {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #ff4d4d; /* Red color for removal indication */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-timer-btn:hover {
    background-color: #ff6666; /* Lighter red on hover */
}

#colorSelect option[value="account0"] { background-color: #e6194B; color: white; } /* Assuming white text for contrast */
#colorSelect option[value="account1"] { background-color: #3cb44b; color: white; }
#colorSelect option[value="account2"] { background-color: #ffe119; color: black; }
#colorSelect option[value="account3"] { background-color: #4363d8; color: white; }
#colorSelect option[value="account4"] { background-color: #f58231; color: black; }
#colorSelect option[value="account5"] { background-color: #911eb4; color: white; }
#colorSelect option[value="account6"] { background-color: #46f0f0; color: black; }
#colorSelect option[value="account7"] { background-color: #f032e6; color: white; }
#colorSelect option[value="account8"] { background-color: #bcf60c; color: black; }
#colorSelect option[value="account9"] { background-color: #fabebe; color: black; }
#colorSelect option[value="0814"] { background-color: #874f09; color: white; }
#colorSelect option[value="0816"] { background-color: #093787; color: white; }
#colorSelect option[value="0817"] { background-color: #09874a; color: white; }
#colorSelect option[value="0818"] { background-color: #778899; color: white; }

}